---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
---

<Layout title="Welcome to Astro.">
  <Hero title={"JAQUE MATE DEL AMOR"} />
  <h2 class="text-xl">JAQUE MATE DEL AMOR</h2>
</Layout>
