---
const parrafo =
  '"Jaque Mate del Amor" es una canción inspirada en el vínculo profundo y lleno de emociones que uno puede sentir hacia alguien especial, incluso cuando esos sentimientos aún no han sido expresados. La canción representa un juego de amor, como un tablero de ajedrez, donde cada movimiento se hace con cautela, y cada emoción es una pieza en juego. Teniendo como una de sus fuentes de inspiracion la relación entre los personajes Issei y Rías Gremory de un conocido anime, explora la incertidumbre y el misterio que rodea a las primeras etapas del amor, cada verso refleja el conflicto interno del protagonista mientras explora sus sentimientos y la tensión entre el deseo de confesar, conocer si ese amor es correspondido y el miedo al rechazo...';
---

<section id="about" class="py-8 px-4">
  <div class="container mx-auto max-w-xl text-center">
    <h3 class="text-3xl font-semibold mb-4">Acerca de la Canción</h3>
    <p class="pb-3">
      {parrafo}
      <a
        href="https://blog.ander-labs.site/2024/11/jaque-mate-del-amor.html"
        target="_blank"
        rel="noopener noreferrer">Leer mas</a
      >
    </p>
  </div>
</section>
