---
import { turso } from "../config/turso";
---

<div class="text-center">
  <!-- Botón de descarga inicial -->
  <button
    onclick="toggleSubscribeModal()"
    class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
  >
    Descargar Canción
  </button>
</div>

<!-- Modal de suscripción -->
<div
  id="subscribeModal"
  class="fixed inset-0 bg-gray-900 bg-opacity-75 hidden justify-center items-center"
>
  <div class="w-2/3 md:w-1/3 bg-white rounded-lg p-6 text-center">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Suscríbete para descargar "Jaque Mate del Amor"
    </h3>
    <form id="subscribeForm" class="space-y-4">
      <input
        type="email"
        id="email"
        required
        placeholder="Tu correo electrónico"
        class="w-full px-4 py-2 border rounded"
      />
      <button
        type="submit"
        class="w-full bg-blue-600 hover:bg-blue-800 text-white py-2 rounded"
      >
        Suscribirse y descargar
      </button>
    </form>
    <button
      onclick="toggleSubscribeModal()"
      class="mt-4 text-gray-600 hover:text-gray-800"
    >
      Cerrar
    </button>
  </div>
</div>

<script is:inline>
  function toggleSubscribeModal() {
    const modal = document.getElementById("subscribeModal");
    if (modal) {
      modal.classList.toggle("hidden");
      modal.classList.toggle("flex");
    }
  }

  document
    .getElementById("subscribeForm")
    ?.addEventListener("submit", async function (event) {
      event.preventDefault();

      const emailInput = document.getElementById("email");
      if (emailInput instanceof HTMLInputElement) {
        const email = emailInput.value;

        try {
          // Almacena el correo electrónico en Turso
          const response = await fetch("/api/subscribe.json.ts", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email }),
          });

          if (response.ok) {
            // Si el correo fue almacenado exitosamente, cierra el modal y redirige
            toggleSubscribeModal();
            window.location.href = "/music/jaque-mate-del-amor.mp3"; // Ruta de la canción para descargar
          } else {
            alert(
              "Hubo un error al suscribirse. Por favor, intenta nuevamente."
            );
          }
        } catch (error) {
          console.error("Error en la suscripción:", error);
        }
      }
    });
</script>
