---

---

<div
  id="shareModal"
  class="fixed inset-0 bg-gray-900 bg-opacity-75 hidden justify-center items-center"
>
  <div class="w-2/3 md:w-1/2 bg-white rounded-lg p-6 text-center">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Comparte "Jaque Mate del Amor"
    </h3>
    <div class="space-y-2">
      <a
        href="https://twitter.com/share?text=Escucha%20Jaque%20Mate%20del%20Amor!"
        class="block bg-zinc-700 hover:bg-zinc-800 text-white py-2 px-4 rounded"
      >
        X (Twitter)
      </a>
      <a
        href="https://facebook.com/share?text=Escucha%20Jaque%20Mate%20del%20Amor!"
        class="block bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded"
      >
        Facebook
      </a>
      <a
        href="https://wa.me/?text=Escucha%20Jaque%20Mate%20del%20Amor!"
        class="block bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded"
      >
        WhatsApp
      </a>
      <button
        onclick="copyToClipboard()"
        class="block bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded w-full"
      >
        Copiar enlace
      </button>
    </div>
    <button
      onclick="toggleModal()"
      class="mt-4 text-gray-600 hover:text-gray-800"
    >
      Cerrar
    </button>
  </div>
</div>

<script is:inline>
  function toggleModal() {
    const modal = document.getElementById("shareModal");
    modal.classList.toggle("hidden");
    modal.classList.toggle("flex");
  }

  function copyToClipboard() {
    const url = window.location.href; // Obtiene la URL actual de la página
    navigator.clipboard
      .writeText(url)
      .then(() => {
        alert("¡Enlace copiado al portapapeles!");
      })
      .catch((err) => {
        console.error("Error al copiar el enlace:", err);
      });
  }
</script>
