---

---

<header class="bg-zinc-950 text-white p-4 shadow-lg">
  <div
    class="container mx-auto flex items-center justify-center md:justify-around"
  >
    <h1 class="text-2xl font-semibold"><a href="/"> Jaque Mate del Amor</a></h1>
    <nav class="hidden md:flex justify-around space-x-4">
      <a href="#about" class="hover:text-red-600">Acerca de </a>
      <a href="#player" class="hover:text-red-600">Reproducir</a>
      <a href="#share" class="hover:text-red-600">Compartir</a>
    </nav>
  </div>
</header>
